/* GLOBAL */
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family:"Open Sans", "Arial", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #444;
}


/* BUTTON */
.button{
    display:inline-block;
    text-decoration: none;
    font-family: "Open Sans Condensed","Arial", sans-serif;
    background-color: #DE2E54;
    border: 2px solid #DE2E54;
    border-radius: 8px;
    transition: color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 22px;
    text-align: center;
    white-space: nowrap;
}

.button:hover{
    background-color: #FFFFFF;
    color: #DE2E54;
}
.button:active{
    background-color: #DE2E54;
    color: #FFFFFF;
    opacity:0.6;
}

.button--solid:hover{
    border-color: transparent;
    background-color: rgba(222, 46, 84, 0.8);
    color: #fff;
}
.button--solid:active{
    background-color: rgba(222, 46, 84, 0.6);
    opacity: 1;
}


.button--outline{
    color: #fff;
    border-color: #fff;
    background-color: transparent;
    transition: color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease;
}
.button--outline:hover{
    color: #fff;
    background-color: #DE2E54;
    border-color: transparent;
}

.button--outline:active{
    background: #DE2E54;
    opacity: 0.6;
}

.button--outline:active{
    background-color: rgba(222, 46, 84, 0.6);
    opacity: 1;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1160px;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
}

*:focus{
    outline: 2px dotted #DE2E54;
    outline-offset: 2px;
}

/* SITE-HEADER */

.header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SITE-LOGO */

.logo{
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #222;
    font-weight: 600;
    font-size: 24px;
    transition: color 0.4s ease;
}

.site-footer__logo{
    color: #FFFFFF;
}

.logo:hover{
    color: #DE2E54;
}

.logo:active{
    opacity: 0.6;
}

.site-logo-site-footer:active{
    color: #fff;
}

.logo__img{
    border-radius: 50%;
    margin-right: 16px;
}

/* SITINAV */

.sitenav{
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sitenav__list{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}


.sitenav__item:not(:last-child){
    margin-right: 32px;

}

.sitenav__link{
    display: block;
    color: #222;
    text-decoration: none;
    transition: color 0.4s ease;
}

.sitenav__link:hover{
    color: #DE2E54;
}

.sitenav__link:active{
    opacity: 0.6;
}

.sitenav__site-footer .sitenav__link{
    color: #fff;
}

.sitenav__site-footer .sitenav__link:hover{
    color: #DE2E54;
}

.sitenav__site-footer .sitenav__link:active{
    color: #fff;
}


/*HERO*/
.hero{
    background-color:#0EB4C1;
    color: #fff;
}

.hero__content{
    padding-top: 120px;
    padding-bottom: 120px;
}
.hero__container{
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.hero__headeng{
    width: 500px;
    margin-top: 0;
    margin-bottom: 16px;
    color: #fff;
    font-family: "Open Sans Condensed","Open Sans", "Arial", sans-serif;
    font-weight: bold;
    line-height: 1.2;
    font-size: 36px;
}

.hero__text{
    width: 440px;
    margin-bottom: 36px;
}


.hero__img{
    width: 423px;
    height: 504px;
    align-self: flex-end;
}

/* INDEX-SERVICES */
.index-services {
    padding-top: 120px;
    padding-bottom: 120px;
}

.index-services__list{
    width: 864px;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    list-style: none;
}
.index-services__headeng{
    margin-top: 0;
    margin-bottom: 56px;
    line-height: 1.2;
    text-align: center;
    font-family:"Open Sans Condensed","Open Sans","Arial",sans-serif;
    color: #000;
    font-weight: bold;
    font-size: 36px;
}

.index-services__item:not(:last-child){
    margin-bottom: 80px;
}

.index-service{
    display: flex;
    align-items: center;
}

.index-service__img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 64px;
    box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
    border-radius: 24px;
}
.index-service__content{
    width: 600px;
}
.index-service__title{
    font-family:"Open Sans Condensed","Open Sans","Arial",sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-top:0;
    margin-bottom: 24px;
    color: #222;
}

.index-service__discription{
    margin: 0;
}

.index-serviced__action{
    display: flex;
    justify-content: center;
}


/* CTA */

.cta{
    background-color:#0EB4C1;
    padding-top: 64px;
    padding-bottom: 64px;
}

.cta-heading{
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    font-family:"Open Sans Condensed","Open Sans","Arial",sans-serif;
    color: #fff;
}

.cta-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-links-item:not(:last-child){
    margin-right: 40px;
}

.cta-links-item{
    text-transform: uppercase;
}



/* SITE-FOOTER */

.site-footer{
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #222;
    color: #FFFFFF;
}

.site-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}