/* GLOBAL */
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family:"Open Sans", "Arial", sans-serif;
    line-height: 1.5;
    font-style: 16px;
    color: #444;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1160px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

*:focus{
    outline: 2px dotted #DE2E54;
    outline-offset: 2px;
}

/* SITE-HEADER */

.site-header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.site-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SITE-LOGO */

.site-logo{
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #222;
    font-weight: 600;
    font-size: 24px;
}

.site-logo-site-footer{
    color: #FFFFFF;
}

.site-logo:hover{
    color: #DE2E54;
}
.site-logo:active{
    opacity: 0.6;
}
.site-logo-site-footer:active{
    color: #fff;
}

.site-logo-img{
    border-radius: 50%;
    margin-right: 16px;
}

/* SITINAV */

.sitenav{
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sitenav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}


.sitenav-item:not(:last-child){
    margin-right: 32px;

}

.sitenav-link{
    display: block;
    color: #222;
    text-decoration: none;
}

.sitenav-link:hover{
    color: #DE2E54;
}

.sitenav-link:active{
    opacity: 0.6;
}

.sitenav-site-footer .sitenav-link{
    color: #fff;
}

.sitenav-site-footer .sitenav-link:hover{
    color: #DE2E54;
}

.sitenav-site-footer .sitenav-link:active{
    color: #fff;
}
/* MAIN-LINK */

.main-link{
    display:inline-block;
    text-decoration: none;
    font-family: "Open Sans Condensed","Arial", sans-serif;
    background-color: #DE2E54;
    border: 2px solid #DE2E54;
    border-radius: 8px;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 22px;
}
.main-link:hover{
    background-color: #FFFFFF;
    color: #DE2E54;
}
.main-link:active{
    background-color: #DE2E54;
    color: #FFFFFF;
    opacity:0.6;
}

.main-link-solid:hover{
    border-color: transparent;
    background-color: rgba(222, 46, 84, 0.8);
    color: #fff;
}
.main-link-solid:active{
    background-color: rgba(222, 46, 84, 0.6);
    opacity: 1;
}

/*HERO*/

.hero{
    background-color:#0EB4C1;
    color: #fff;
}

.hero-content{
    padding-top: 120px;
    padding-bottom: 120px;
}
.hero-container{
    display: flex;
    justify-content: space-between;
}

.hero-headeng{
    width: 500px;
    margin-top: 0;
    margin-bottom: 16px;
    color: #fff;
    font-family: "Open Sans Condensed","Open Sans", "Arial", sans-serif;
    font-weight: bold;
    line-height: 1.2;
}

.hero-text{
    width: 440px;
    margin-top: 0;
    margin-bottom: 36px;
}



.hero-img{
    align-self: flex-end;
}

/* INDEX-SERVICES */
.index-services{
    padding-top: 120px;
    padding-bottom: 120px;
}

.index-services-list{
    width: 864px;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    list-style: none;
}
.index-services-headeng{
    margin-top: 0;
    margin-bottom: 56px;
    line-height: 1.2;
    text-align: center;
    font-family:"Open Sans Condensed","Open Sans","Arial",sans-serif;
    color: #000;
    font-weight: bold;
    font-style: 36px;
}

.index-services-item:not(:last-child){
    margin-bottom: 80px;
}

.index-service{
    display: flex;
    align-items: center;
}

.index-service-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 64px;
}
.index-service-content{
    width: 600px;
}
.index-service-title{
    font-family:"Open Sans Condensed","Open Sans","Arial",sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-top:0;
    margin-bottom: 24px;
    color: #222;
}

.index-service-discription{
    margin: 0;
}

.index-serviced-action{
    display: flex;
    justify-content: center;
}


/* SITE-FOOTER */

.site-footer{
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #222;
    color: #FFFFFF;
}

.site-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
